/.github/**
/app/**
/bootstrap/**
/build/**
/config/**
/database/**
/docs/**
/node_modules/**
/public/**
/resources/css/**
/resources/lang/**
/resources/views/**
/routes/**
/storage/**
/tests/**
/vendor/**
